@model User
@{
    Layout = "_LayoutAccount";

    if (!string.IsNullOrEmpty(ViewBag.pesan))
    {
        <script>
            alert("@ViewBag.pesan");
        </script>
    }
}

<p>Silahkan Masuk</p>
<form asp-for="Masuk" method="post">
    <input asp-for="Username" placeholder="Username" />
    <input asp-for="Password" placeholder="Password" />

    <input type="submit" value="Masuk" />
</form>

<a asp-action="Daftar">Saya Belum Punya Akun</a>